API_KEY_PATH=/home/ubuntu/.gemini/creds.json
GOOGLE_APPLICATION_CREDENTIALS=/home/ubuntu/.gemini/creds.json 
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_GENAI_USE_VERTEXAI=True

# language set
#LANGUAGE_CODE=ja-JP
#LANGUAGE_NAME=ja-JP-Neural2-B
