python-dotenv
sounddevice
soundfile
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.10.0.84
pyaudio
google-auth
google-cloud-texttospeech
google-cloud-speech
langchain
langchain-google-vertexai==2.0.24
opencv-python==4.10.0.84
