python-dotenv
sounddevice
soundfile
opencv-python-headless==4.10.0.84
pyaudio
google-auth
google-cloud-translate
google-cloud-texttospeech
google-cloud-speech
langchain==0.3.22
langchain-google-vertexai==2.0.23
noisereduce 
scipy
webrtcvad
